<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

=======
>>>>>>> 97489fb2a4d0fcec854bd09c1bf8e33355234e7d
nav{
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(207, 207, 207);
    height: 10vh;
}

.home{
    background-color: rgb(172, 0, 143);
}
.partrighttitle{
    display: flex;
    width: 20%;
    margin-left: 5%;
    border: 1px solid;
    justify-content: center;
    align-items: center;
}

.partleftmenu{
    display: flex;
    width: 80%;
    border: 1px solid;
}

.partleftmenu ul{
    display: flex;
    margin-left: 40%;
    height: 5vh;
    margin-top: 2%;
}

.partleftmenu ul li{
    display: flex;
    margin: 0 5%;
    border: 1px solid;
}

.partleftmenu ul li a{
    display: flex;
    text-decoration: none;
    font-weight: bold;
<<<<<<< HEAD
    border: 1px solid;
=======
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
>>>>>>> 97489fb2a4d0fcec854bd09c1bf8e33355234e7d
}


/* Kear---------------------- */

<<<<<<< HEAD
=======







/* ---------------------------------------- */

/* Cham------------------------------------ */
>>>>>>> 97489fb2a4d0fcec854bd09c1bf8e33355234e7d
